@tailwind base;
@tailwind components;
@tailwind utilities;

main,
body {
    /* background-image: linear-gradient(url('../public/bg.jpg')); */
    background: linear-gradient(
        to bottom,
        rgb(204, 204, 204),
        rgb(62, 84, 140)
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.label-text {
    color: white;
}
