@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overscroll-behavior: none;
}
main,
body {
    /* background-image: linear-gradient(url('../public/bg.jpg')); */
    /* background: linear-gradient(to bottom, rgb(244, 244, 244), rgb(50, 39, 39)); */
    /* background: linear-gradient(to bottom, rgb(8, 8, 8), rgb(53, 51, 51)); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.transition-bg {
    transition: background-color 0.5s ease-in-out;
}

.last-album {
    display: contents; /* or any other CSS property that ensures the div does not affect the layout */
}

.label-text {
    color: black;
}
